@import '../../variables.scss';
.header__wrapper{
    flex:1;
    transition: transform .5s ease-in;
    background: $dark_mode;
    @media only screen and (min-width: $tablet) {
        max-width: 920px;
    }

    
}
.header__active{
    transform: translateX(290px);  
}