@import '../../variables.scss';
.header__wrapper{
    flex:1;
    transition: all .5s ease-in;
    background: $dark_mode; 
    @media only screen and (min-width: 1000px){
      margin-left: 290px;
        
    }   
}
.header__active{
    transform: translateX(290px);  
}