@import '../../variables.scss';
.header{
    display: flex;
    align-items: center;
  
    padding: 0.8rem 0.5rem;
    color: $white_mode;
    
    &__title{
        
        font-size: 2rem;
    }
    &__icon{
        margin-right: 1rem;
       font-size: 2rem;  
    }
    &__link{
        text-decoration: none;
        color: $white_mode;
        cursor: pointer;
    }
    @media screen and (min-width: 1024px){
        display: none;
    }
}
